{
    "Logging": {
        "LogLevel": {
            "Default": "Debug",
            "System": "Information",
            "Microsoft": "Information"
        }
    },
    "ConnectionStrings": {
          "ScheduleDB": "Host=<host>;Port=<>port;Database=<database>;Username=<user>;Password=<password>",
          "TelegramApiId": "<id>",
          "TelegramApiHash": "<hash>",
          "TelegramPhoneNumber": "<phone_number>"
    }
}