{
  "$schema": "http://json.schemastore.org/launchsettings.json",
  "profiles": {
    "getting-service": {
      "commandName": "Project",
      "environmentVariables": {
        "ApiId": "",
        "ApiHash": "",
        "PhoneNumber": ""
      }
    }
  }
}
