POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
ConnectionStrings__ScheduleDB="Host=schedule-db;Port=5432;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD};IncludeErrorDetail=true"
